@page "/charginghours"
@inherits PageBase
@using System
@using Radzen
@using Radzen.Blazor
@using SessyWeb.Components

@inject TooltipService tooltipService

@using SessyController.Services.Items

@if (HourlyPrices != null && HourlyPrices.Count() != 0)
{
	<div style="width: 100%; height:100%;">
		<RadzenChart Style="min-height: 2000px; min-width: 600px;">
			<RadzenChartTooltipOptions Shared="false" Visible="true" />
			<RadzenBarSeries Data="@HourlyPrices" CategoryProperty="Time" Title="Price" LineType="LineType.Dashed" ValueProperty="Price">
				<TooltipTemplate Context="data">
					<RadzenCard>
						<div>
							Date @data?.Time
						</div>
						<div>
							Price :@data?.Price
						</div>
						<div>
							State @data?.DisplayState;
						</div>
					</RadzenCard>
				</TooltipTemplate>
				<ChildContent>
					<RadzenMarkers Visible="false" />
					<RadzenSeriesDataLabels Visible="true" />
				</ChildContent>
			</RadzenBarSeries>
			<RadzenBarSeries Data="@HourlyPrices" CategoryProperty="Time" Title="Charging" ValueProperty="VisualizeInChart">
				<TooltipTemplate Context="data">
					<RadzenCard>
						<div>
							Date @data?.Time
						</div>
						<div>
							Price :@data?.Price
						</div>
						<div>
							State @data?.DisplayState;
						</div>
					</RadzenCard>
				</TooltipTemplate>
				<ChildContent>
					<RadzenMarkers Visible="false" />
					<RadzenSeriesDataLabels Visible="false" />
				</ChildContent>
			</RadzenBarSeries>
			<RadzenCategoryAxis Padding="20" Formatter="@FormatAsDayHour">
				<RadzenGridLines Visible="true" />
				<RadzenAxisTitle Text="Time" />
			</RadzenCategoryAxis>
			<RadzenValueAxis Formatter="@FormatAsPrice">
				<RadzenGridLines Visible="true" />
				<RadzenAxisTitle Text="Price" />
			</RadzenValueAxis>
			<RadzenBarOptions Radius="5" />
		</RadzenChart>
	</div>
}
else
{
	<div>
		No prices yet, just a moment .....
	</div>
}


