@page "/credits"

<h3>Credits</h3>

<RadzenCard title="Sessy battery" Style="background-color: transparent; width:100%;">
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
        <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Normal" Style="width: 100%; max-width: 1000px;">
            <RadzenCard class="rz-background-color-primary-light rz-shadow-0 rz-border-radius-0 rz-p-8 rz-border-radius-2" style="margin: 1rem calc(-1 * var(--rz-card-padding));">
                <RadzenRow RowGap="0" Gap="10">
                    <RadzenColumn SizeSM="4">
                        <RadzenText TextStyle="TextStyle.H4" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Hard- and software</RadzenText>
                        <a href="https://charged.nu/" target="_blank">
                            <RadzenImage Path="/Images/Charged_transparent_final.png" Style="background-color: transparent; width: 100px;" />
                        </a>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>Charged B.V.</b></RadzenText>

                        <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Battery communication</RadzenText>
                        <a href="https://sessy.nl/" target="_blank">
                            <RadzenImage Path="/Images/sessy.svg" Style="background-color: transparent;" />
                        </a>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>Sessy slimme onafhankelijke thuisbatterij</b></RadzenText>

                        <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">.NET Development environment</RadzenText>
                        <a href="https://microsoft.com/" target="_blank"> 
                            <RadzenImage Path="/Images/Microsoft.jpg" Style="background-color: transparent; width: 100px;" />
                        </a>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">UI web components</RadzenText>
                        <a href="https://radzen.com/" target="_blank">
                            <RadzenImage Path="/Images/Radzen_transparent_final.png" Style="background-color: transparent; width: 50px;" />
                        </a>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>Radzen components (free version)</b></RadzenText>

                        <RadzenText TextStyle="TextStyle.H4" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Online services</RadzenText>
                        
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Weather service</RadzenText>
                        <a href="https://weeronline.nl" target="_blank" >
                            <RadzenImage Path="/Images/wol_logo_white.svg" />
                        </a>

                        <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Day ahead market prices</RadzenText>
                        <a href="https://newtransparency.entsoe.eu/" target="_blank">
                            <RadzenImage Path="/Images/ENTSO-E.svg" />
                        </a>

                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
        </RadzenStack>
    </RadzenStack>
</RadzenCard>

                        