@page "/"
@inherits PageBase
@using System
@using SessyController.Services
@using SessyController.Services.Items

<PageTitle>Sessy</PageTitle>

<html>
<body>
	<div>
		@{
			foreach (var capacity in GetFreeCapacity().GetAwaiter().GetResult())
			{
				<a>@capacity</a><br/>
			}
		}
	</div>
</body>
</html>

