@page "/"
@inherits PageBase
@using System
@using SessyController.Services
@using SessyController.Services.Items
@using SessyWeb.Components

<PageTitle>Sessy</PageTitle>

<html>
<body>
	<div>
		@{
			foreach (var battery in GetBatteries())
			{
				<BatteryInfoComponent Battery=@battery>
				
				</BatteryInfoComponent>
			}
		}
	</div>
</body>
</html>

