@page "/"
@inherits PageBase
@using System
@using SessyController.Services
@using SessyController.Services.Items
@using SessyWeb.Components

<PageTitle>Sessy</PageTitle>

<div>
	@{
		if (Batteries != null)
		{
			foreach (var battery in Batteries)
			{
				<div style="min-width: 200px;">
					<BatteryInfoComponent Battery=@battery />
				</div>
			}
		}
	}
</div>

