@page "/solarpower"
@inherits PageBase
@using SessyController.Services.Items
@using SessyWeb.Components
@using SessyData.Model
@using Radzen
@using static SessyWeb.Components.DateChooserComponent

<RadzenLayout Style="height: 80vh;">
    <RadzenHeader Style="height: 100%;margin: 0px; padding: 0px;">
        <RadzenStack Orientation=Orientation.Horizontal AlignItems="AlignItems.Center" Style="height:100%;margin: 0px; padding: 0px;">
            <h4>Solar power</h4>
            <DateChooserComponent PeriodChosen=@PeriodChosen
                                  DateChosenChanged=@((DateTime d) => DateChosenChanged(d))
                                  PeriodChosenChanged=@((PeriodsEnums p) => PeriodChosenChanged(p)) />
        </RadzenStack>
    </RadzenHeader>

    <RadzenBody>
        <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Left" AlignItems="AlignItems.Start" Gap="0.5rem" Style="width: 100%;">
            <RadzenChart Style="@GraphStyle">
                <RadzenLegend Position="LegendPosition.Top" Visible="true" />
                <RadzenAreaSeries Data="@SolarEdgeData" Smooth="true" Title="Solar power" CategoryProperty="Time" LineType="LineType.Dotted" ValueProperty="Power" />
            </RadzenChart>
        </RadzenStack>
    </RadzenBody>
    <RadzenFooter>
        <b>@String.Format(GetFormatProvider(), "Total solar power: {0:N5} kWh", SolarPower)</b>
    </RadzenFooter>
</RadzenLayout>
