@using SessyController.Services
@inherits BatteryInfo

@if (powerStatus == null)
{
	<p>Bezig met laden...</p>
}
else
{
	<RadzenCard title="Sessy battery">
		<RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
			<RadzenColumn Size="6" class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				Title
			</RadzenColumn>
			<RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				Value
			</RadzenColumn>
		</RadzenRow>

		<RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
			<RadzenColumn Size="6" class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				Power status
			</RadzenColumn>
			<RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				@powerStatus?.Status
			</RadzenColumn>
		</RadzenRow>

		<RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
			<RadzenColumn Size="6" class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				Power
			</RadzenColumn>
			<RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				@powerStatus?.Sessy?.Power
			</RadzenColumn>
		</RadzenRow>

		<RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
			<RadzenColumn Size="6" class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				Setpoint
			</RadzenColumn>
			<RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				@powerStatus?.Sessy?.PowerSetpoint
			</RadzenColumn>
		</RadzenRow>

		<RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
			<RadzenColumn Size="6" class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				State of charge
			</RadzenColumn>
			<RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				<RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Primary" value=@powerStatus.Sessy.StateOfCharge100 />
			</RadzenColumn>
		</RadzenRow>

		<RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
			<RadzenColumn Size="6" class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				System state
			</RadzenColumn>

			@if (powerStatus?.Sessy?.SystemState == Sessy.SystemStates.SYSTEM_STATE_ERROR)
			{
				<RadzenColumn class="rz-background-color-danger rz-color-white rz-p-4">
					@powerStatus?.Sessy?.SystemStateString
				</RadzenColumn>
			}
			else
			{
				<RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
					@powerStatus?.Sessy?.SystemState.ToString()
				</RadzenColumn>
			}

		</RadzenRow>

		<RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
			<RadzenColumn Size="6" class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				System state details
			</RadzenColumn>
			<RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				@powerStatus?.Sessy?.SystemStateDetails
			</RadzenColumn>
		</RadzenRow>

		<RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
			<RadzenColumn Size="6" class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				Inverted current in mAmpere
			</RadzenColumn>
			<RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				@powerStatus?.Sessy?.Frequency
			</RadzenColumn>
		</RadzenRow>

		<RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
			<RadzenColumn Size="6" class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				Frequency
			</RadzenColumn>
			<RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				@powerStatus?.Sessy?.InverterCurrentMa
			</RadzenColumn>
		</RadzenRow>

		<RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
			<RadzenColumn Size="6" class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				Renewable Phase 1 Power
			</RadzenColumn>
			<RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				@powerStatus?.RenewableEnergyPhase1?.Power
			</RadzenColumn>
		</RadzenRow>

		<RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
			<RadzenColumn Size="6" class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				Renewable Phase 2 Power
			</RadzenColumn>
			<RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				@powerStatus?.RenewableEnergyPhase2?.Power
			</RadzenColumn>
		</RadzenRow>

		<RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
			<RadzenColumn Size="6" class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				Renewable Phase 3 Power
			</RadzenColumn>
			<RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
				@powerStatus?.RenewableEnergyPhase3?.Power
			</RadzenColumn>
		</RadzenRow>
	</RadzenCard>
}