@using SessyController.Services
@inherits BatteryInfo

@if (powerStatus == null)
{
    <p>Bezig met laden...</p>
}
else
{
    <RadzenCard title="Sessy battery">
        <RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
            <RadzenFormField Text="Name" Style="flex: 1;">
                <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
                    @Battery!.GetName()
                </RadzenColumn>
            </RadzenFormField>
        </RadzenRow>

        <RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
            <RadzenFormField Text="Power status" Style="flex: 1;">
                <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
                    @powerStatus?.Status
                </RadzenColumn>
            </RadzenFormField>
        </RadzenRow>

        <RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
            <RadzenFormField Text="Power" Style="flex: 1;">
                <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
                    @powerStatus?.Sessy?.Power
                </RadzenColumn>
            </RadzenFormField>
        </RadzenRow>

        <RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
            <RadzenFormField Text="Setpoint" Style="flex: 1;">
                <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
                    @powerStatus?.Sessy?.PowerSetpoint
                </RadzenColumn>
            </RadzenFormField>
        </RadzenRow>

        <RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
            <RadzenFormField Text="State of charge" Style="flex: 1;">
                <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
                    <RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Primary" value=@(powerStatus.Sessy == null ? 0.0 : powerStatus.Sessy.StateOfCharge100) />
                </RadzenColumn>
            </RadzenFormField>
        </RadzenRow>

        <RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
            <RadzenFormField Text="System state" Style="flex: 1;">

                @if (powerStatus?.Sessy?.SystemState == Sessy.SystemStates.SYSTEM_STATE_ERROR)
                {
                    <RadzenColumn class="rz-background-color-danger rz-color-white rz-p-4">
                        @powerStatus?.Sessy?.SystemStateString
                    </RadzenColumn>
                }
                else
                {
                    <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
                        @powerStatus?.Sessy?.SystemState.ToString()
                    </RadzenColumn>
                }
            </RadzenFormField>
        </RadzenRow>

        <RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
            <RadzenFormField Text="System state details" Style="flex: 1;">
                <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
                    @powerStatus?.Sessy?.SystemStateDetails
                </RadzenColumn>
            </RadzenFormField>
        </RadzenRow>

        <RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
            <RadzenFormField Text="Inverted current in mAmpere" Style="flex: 1;">
                <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
                    @powerStatus?.Sessy?.Frequency
                </RadzenColumn>
            </RadzenFormField>
        </RadzenRow>

        <RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
            <RadzenFormField Text="Frequency" Style="flex: 1;">
                <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
                    @powerStatus?.Sessy?.InverterCurrentMa
                </RadzenColumn>
            </RadzenFormField>
        </RadzenRow>

        <RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
            <RadzenFormField Text="Renewable phase 1 power" Style="flex: 1;">
                <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
                    @powerStatus?.RenewableEnergyPhase1?.Power
                </RadzenColumn>
            </RadzenFormField>
        </RadzenRow>

        <RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
            <RadzenFormField Text="Renewable phase 2 power" Style="flex: 1;">
                <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
                    @powerStatus?.RenewableEnergyPhase2?.Power
                </RadzenColumn>
            </RadzenFormField>
        </RadzenRow>

        <RadzenRow class="rz-text-align-left rz-border-info-light" Gap="1rem">
            <RadzenFormField Text="Renewable phase 3 power" Style="flex: 1;">
                <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-4">
                    @powerStatus?.RenewableEnergyPhase3?.Power
                </RadzenColumn>
            </RadzenFormField>
        </RadzenRow>
    </RadzenCard>
}